<div class="flex rounded-md p-2 bg-neutral-300 dark:bg-neutral-500">
  <div class="flex-1">
    <%= render partial: "users/header", locals: {user: message.author} %>
    <div><%= message.content %></div>
  </div>
  <div>
    <% if local_assigns[:show_target] %>on <%= link_to message.target %>, <% end %>
    <%= render "datetime", datetime: message.created_at %>
  </div>
</div>
