<div class="flex p-4 bg-neutral-300 dark:bg-neutral-600">
  <a class="pe-8" href="<%= root_url %>">
    🐈‍⬛
  </a>

  <div class="flex-1">
    <%= link_to "✏️", {controller: "images", action: :new}, class: "font-medium" %>
  </div>
  <% if authenticated? %>
    <%= link_to Current.user %>
  <% else %>
    <%= link_to "Sign in", new_session_url %>
  <% end %>
</div>
