<%# locals: (readonly: false) %>

<div class="grid grid-cols-[auto_1fr] grid-rows-[auto_1fr]">
	<div id="image" data-id="<%= @image.id =%>"></div>
	<h4 class="text-2xl col-start-2"><%= @image.title =%></h4>
	<% if readonly %>
		<div class="mr-2">
		</div>
	<% else %>
		<div id="canvasTools" class="mr-2">
			<fieldgroup>
				<label class="block bg-gray-300 mt-2 mb-2 pt-2 pb-2 text-center rounded-md has-checked:bg-gray-500">
					<input class="hidden" name="tool" type="radio" value="brush" checked />
					✏️
				</label>
				<label class="block bg-gray-300 mt-2 mb-2 pt-2 pb-2 text-center rounded-md has-checked:bg-gray-500">
					<input class="hidden" name="tool" type="radio" value="eraser" />
					🧼
				</label>
			</fieldgroup>
			<input id="colorPicker" type="color" class="block rounded-md" />
			<div class="relative openableContainer">
				<a href="#" id="brushSizeButton" class="openableToggle block bg-gray-300 mt-2 mb-2 text-center rounded-md"><canvas id="brushSizeCanvas" width="32" height="32" class="inline-block rounded-md"></canvas></a>
				<div class="openable hidden block bg-gray-300 p-2 rounded-md absolute z-1">
					<input id="brushSize" min="1" max="100" type="range" />
					<fieldgroup>
						<label class="rounded-md has-checked:bg-gray-500">
							<input class="hidden" name="brushAntialias" type="radio" value="false" checked />
							🔪
						</label>
						<label class="rounded-md has-checked:bg-gray-500">
							<input class="hidden" name="brushAntialias" type="radio" value="true" />
							🧈
						</label>
					</fieldgroup>
				</div>
			</div>
		</div>
	<% end %>
	<canvas class="bg-gray-100" id="imageCanvas" <% if readonly %>data-readonly="true"<% end %> width="<%= @image.width =%>" height="<%= @image.height =%>"></canvas>
</div>

<!-- TODO: move out-of-line -->
<style>
.userCursor::after {
	content: attr(data-user-id);
	position: relative;
	top: -1em;
	pointer-events: none;
	font-size: initial;
}
.userCursor {
	position: absolute;
	pointer-events: none;
	font-size: 2em;

	background-image: var(--white-cross-7);
	background-repeat: no-repeat;
	/* crosshair center at (3, 3), offset so we see the entire thing */
	margin-top: -3px;
	margin-left: -3px;
}
</style>

<script>
document.getElementById("imageCanvas").getContext("2d").filter = "var(--no-antialias-filter)";
</script>

<% unless readonly %>
	<script>
	{
		const bscContainer = document.getElementById("brushSizeButton");
		const bsc = document.getElementById("brushSizeCanvas");
		bsc.width = bscContainer.clientWidth;
		bsc.height = bscContainer.clientHeight;
	}

	const brushSampleDefaults = {
		filter: "var(--no-antialias-filter)",
		lineWidth: 4,
		lineCap: "round",
		strokeStyle: "black",
	};

	function drawBrushSample(canvas, opts) {
		const ctx = canvas.getContext("2d");
		for(const [k, v] of Object.entries(opts)) {
			ctx[k] = v;
		}
		// canvas filters may get applied on the next event loop iteration
		return new Promise((resolve) => {
			setTimeout(() => {
				ctx.beginPath();
				ctx.clearRect(0, 0, canvas.width, canvas.height);
				ctx.moveTo(8, 8);
				ctx.lineTo(canvas.width - 8, canvas.height - 8);
				ctx.stroke();
				resolve();
			}, 0);
		});
	}

	document.querySelectorAll(".openableContainer").forEach(el => {
		const openable = el.querySelector(".openable");
		const toggle = el.querySelector(".openableToggle");
		if(!openable || !toggle)
			return;

		const closeListener = ev => {
			console.log(ev.target, openable.contains(ev.target));
			if(openable.contains(ev.target))
				return;
			openable.classList.add("hidden");
			removeCloseListener();
		};

		const removeCloseListener = () => document.removeEventListener("click", closeListener);
		toggle.addEventListener("click", () => {
			if(openable.classList.contains("hidden")) {
				openable.classList.remove("hidden");
				window.setTimeout(() => document.addEventListener("click", closeListener), 0);
			} else {
				
			}
		});
	});

	const canvas = document.getElementById('imageCanvas');
	canvas.addEventListener("mousedown", e => console.log("mousedown", e));
	canvas.addEventListener("mouseup", e => console.log("mouseup", e));
	document.getElementById("brushSize").addEventListener("input", e => {
		drawBrushSample(brushSizeCanvas, {lineWidth: e.target.value});
	});
	document.querySelectorAll("input[name=brushAntialias]").forEach(el => el.addEventListener("input", ev => {
		drawBrushSample(brushSizeCanvas, {filter: el.value === "true" ? "none" : "var(--no-antialias-filter)"});
	}));
	drawBrushSample(brushSizeCanvas, brushSampleDefaults);
	document.querySelectorAll("input[name=tool]").forEach(el => el.addEventListener("input", ev => {
		document.getElementById("imageCanvas").dataset.tool = ev.target.value;
	}));
	</script>
<% end %>
