<h4><%= @image.title =%></h4>
<div id="image" data-id="<%= @image.id =%>"></div>
<div id="canvasTools">
	<a href="#">✏️</a>
	<a href="#">🧼</a>
	<input id="colorPicker" type="color" />
</div>
<!--
canvas flow:
 - generate command
 - apply locally
 - send to websocket, broadcast to others
-->
<canvas id="imageCanvas" width="<%= @image.width =%>" height="<%= @image.height =%>"></canvas>

<!-- TODO: move out-of-line -->
<style>
.userCursor::after {
	content: attr(data-user-id);
	position: relative;
	top: -1em;
	pointer-events: none;
	font-size: initial;
}
.userCursor {
	position: absolute;
	pointer-events: none;
	font-size: 2em;
}
</style>

<script>
const canvas = document.getElementById('imageCanvas');
canvas.addEventListener("mousedown", e => console.log("mousedown", e));
canvas.addEventListener("mouseup", e => console.log("mouseup", e));
</script>
