<div class="grid grid-cols-[auto_1fr] grid-rows-[auto_1fr]">
	<div id="image" data-id="<%= @image.id =%>"></div>
	<h4 class="text-2xl col-start-2"><%= @image.title =%></h4>
	<div id="canvasTools" class="mr-2">
		<a href="#" class="block bg-gray-300 mt-2 mb-2 pt-2 pb-2 text-center rounded-md">✏️</a>
		<%# <a href="#" class="block bg-gray-300 mt-2 mb-2 pt-2 pb-2 text-center rounded-md">🧼</a> %>
		<input id="colorPicker" type="color" class="block rounded-md" />
	</div>
	<canvas class="bg-gray-100" id="imageCanvas" width="<%= @image.width =%>" height="<%= @image.height =%>"></canvas>
</div>

<!-- TODO: move out-of-line -->
<style>
.userCursor::after {
	content: attr(data-user-id);
	position: relative;
	top: -1em;
	pointer-events: none;
	font-size: initial;
}
.userCursor {
	position: absolute;
	pointer-events: none;
	font-size: 2em;
}
</style>

<script>
const canvas = document.getElementById('imageCanvas');
canvas.addEventListener("mousedown", e => console.log("mousedown", e));
canvas.addEventListener("mouseup", e => console.log("mouseup", e));
</script>
